/* global bg/u color */

@font-face {
	font-family: SF-Reg;
	src: url(../fonts/SFText-Regular.otf);
}

@font-face {
	font-family: SF-Bold;
	src: url(../fonts/SFText-Semibold.otf);
}
article{
	background-color: #ffffff;
}
.center {
	text-align: center;
}
.contact{
	color: #fff;
}
.contact a{
	color: #fff;
}

h1,
h2,
a {
	font-family: "SF-Reg", sans-serif;
	color: white;
	text-decoration: none;
}
h3{
	font-family: "SF-Reg", sans-serif;
	color: #A9A9A9;
	text-decoration: none;
	font-size: 18px;
	line-height: 30px;
}
p {
	color: #333333;
}

#blog h1 {
	color: black;
}

.blogPost img {
	width: 49%;
}
.blogLogo{
	margin-top: 30px;
	margin-bottom: 30px;
}
body{
	background-color: black;
}

/* header */

#logo {
	font-size: 50px;
	font-family: "SF-Reg", sans-serif;
	margin-top: 30px;
	color:#ffffff;
}

#nav {
	float: right;
}

#nav li {
	font-size: 18px;
	display: inline-flex;
	color: white;
}
#nav li a{
	font-family: "SF-Bold", sans-serif;
}
#nav li a.active {
	color: white;
	border-bottom: 4px solid #000;
}
.responsive{
	width: 100%;
}

/*main*/
#mc-embedded-subscribe-form{
	text-align: left !important;
}
.button {
	 background-color: #9012FE !important;
}
.imageSlider img{
	display:block;
    margin:auto;
	margin-top: 80px;
}
.iconLeft {
	width: 20px;
	position: relative;
	top: 4px;
	margin-right: 10px;
}
.iconRight {
	width: 20px;
	position: relative;
	top: 4px;
	margin-left: 10px;
}


/*footer*/

#blog footer {
	margin-bottom: 30px;
	text-align: center;
}
#blog footer {
	margin-bottom: 30px;
}


/*desktop*/

@media only screen and (min-width: 768px) {
	.blogPost {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 3%;
		padding-bottom: 3%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.blogContent{
		margin-left: 20%;
		margin-right: 20%;
	}
	.topMarg{
		margin-top: 80px;
	}
	#nav li a{
		margin-left: 20px;
		margin-top: 30px;
		color: white;
	}
	#nav li a:hover {
		border-bottom: 4px solid white;
		color: white;
	}
	.blogPost img {
		padding-top: 30px;
	}
	.smallMargin{
		margin-top: 20px;
	}
}

/*mobile*/

@media only screen and (max-width: 768px) {
	body {
		width: 94%;
		margin-left: 3%;
	}
	.blogPost {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 3%;
		padding-bottom: 3%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.blogPost img {
		width: 100%;
	}
	#logo {
		font-size: 9vw;
	}
	#nav li {
	color: #666666;
	font-size: 4vw;
	padding-top: 25px;
	margin-left: 15px;

	}

	h2 {
		font-size: 6vw;
	}
}