/* global bg/u color */

@font-face {
	font-family: Mont;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Mont-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}

.center {
	text-align: center;
}

h1,
h2,
a {
	font-family: "Mont-Bold", sans-serif;
	color: #333333;
	text-decoration: none;
}
h3{
	font-family: "Mont", sans-serif;
	color: #333333;
	text-decoration: none;
}
p {
	color: #333333;
}

.blogPost img {
	width: 48%;
	margin-right: 1%;
}


/* header */

#logo {
	font-size: 50px;
	font-family: "Mont-Bold", sans-serif;
	margin-top: 25px;
}

#nav {
	float: right;
}

#nav li {
	font-size: 18px;
	font-family: "Mont-Bold", sans-serif;
	display: inline-flex;
}
#nav li a.active {
	color: #333;
	border-bottom: 4px solid #333;
}


/*main*/

/*footer*/

footer {
	margin-bottom: 30px;
}


/*desktop*/

@media only screen and (min-width: 768px) {
	.blogPost {
		border: 4px solid #333333;
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 3%;
		padding-bottom: 3%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#nav li a{
		margin-left: 20px;
		margin-top: 30px;
		color: #666666;
	}
	#nav li a:hover {
		border-bottom: 4px solid #333;
		color: #333;
	}
}

/*mobile*/

@media only screen and (max-width: 768px) {
	body {
		width: 94%;
		margin-left: 3%;
	}
	.blogPost {
		border-top: 4px solid #333333;
		border-bottom: 4px solid #333333;
	}
	.blogPost img {
		width: 100%;
	}
	#logo {
		font-size: 9vw;
	}
	#nav li {
	color: #666666;
	font-size: 4vw;
	padding-top: 25px;
	margin-left: 15px;

	}

	h2 {
		font-size: 6vw;
	}
}